@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  main {
    @apply w-full flex flex-col min-h-dvh;
  }
  .img-fluid {
    @apply w-full h-auto block;
  }
  .container {
    @apply w-full mx-auto;
  }
  .form-group {
    @apply w-full justify-start items-center gap-4 flex py-2 px-6 flex-col md:flex-row md:gap-10;
  }
  .form-input {
    @apply w-full md:w-[48%] flex-shrink-0 relative;
  }
  .form-input label {
    @apply text-gray-700 font-semibold mb-1 text-[15px];
  }
  .form-control {
    @apply w-full rounded-sm py-2 border border-gray-300 h-11 mb-1 focus:outline-none focus:border-teal-400 px-3;
  }
  .error_class {
    @apply border-rose-200;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
  }
  .profile-content ul li a {
    @apply py-2 border-b px-4 flex justify-between items-center font-semibold cursor-pointer hover:bg-gray-100 transition-all;
  }
  .profile-content ul li a span {
    @apply w-6 h-6 bg-blue-600 text-white rounded-full flex justify-center items-center;
  }
  .profile-content ul li:last-child a {
    @apply border-b-0;
  }
}
@layer components {
  .product-img {
    @apply cursor-pointer;
  }
  .product-img .caption_product {
    @apply opacity-0 duration-700  transition-all  absolute left-auto right-auto w-full;
  }
  .product-img:hover .caption_product {
    @apply translate-y-[-45px]  duration-700 transition-all opacity-100;
  }
  .supportHome ul li:hover .svgIcons {
    color: #222;
    transform: rotateY(-180deg);
  }
  .offser .img-thumani img {
    @apply transition-all duration-1000 ease-in-out cursor-pointer;
  }
  .offser .img-thumani:hover img {
    @apply scale-105 transition-all duration-1000 ease-in-out;
  }
}
.form-error {
  @apply text-red-600 text-sm font-semibold  absolute bottom-[-12px] left-0 w-full;
}
.hsticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  animation-duration: 0.9s;
  animation-name: fadeInDown;
  animation-timing-function: ease-in-out;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.407);
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.swiper-pagination {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 99;
}
.swiper-pagination span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(24, 11, 110, 0.436);
  cursor: pointer;
  position: relative;
}
.swiper-pagination span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 10px;
  top: 10px;
  background-color: rgb(24, 11, 110);
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  border-color: rgb(255, 2, 162) !important;
}
.swiper-pagination-bullet-active::before {
  background-color: rgb(255, 2, 162) !important;
}
.swiper-slide .caption {
  position: relative;
  z-index: 0;
}
.swiper-slide .caption h1 {
  transform: translateY(-100%);
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
}

.swiper-slide .caption h2 {
  transform: translateY(-100%);
  overflow: hidden;
  transition: all 2s;
  opacity: 0;
}
.swiper-slide .caption button {
  transform: translateY(100%);
  transition: all 2s;
  opacity: 0;
  z-index: 999;
}
.swiper-slide-active .caption h1 {
  transform: translateY(0);
  transition: all 1s;
  opacity: 1;
}
.swiper-slide-active .caption h2 {
  transition: all 2s;
  transform: translateY(0);
  opacity: 1;
}
.swiper-slide-active .caption button {
  transition: all 3s;
  transform: translateY(0);
  opacity: 1;
}
.login {
  box-shadow: 0px 0px 20px #141414;
  position: fixed;
}
.login h4 {
  background-color: rgba(139, 130, 130, 0.82);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}
.otpInput div {
  gap: 10px;
}
.otpInput div input {
  width: 3em !important;
  height: 3rem !important;
  border: 1px solid #ddd !important;
}
.otpInput div input:focus {
  outline: none;
  border-color: rgb(0, 215, 215) !important;
}
.asideBrand {
  height: 340px;
  overflow-y: scroll;
}

.sidebarCart {
  height: 100vh;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 16px;
  overflow-y: auto;
}

.sidebarCart::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidebarCart::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebarCart::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebarCart::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebarCart_para {
  width: calc(100% - 80px);
  overflow-y: hidden;
}
.sidebarCart_para p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.cart-checkout-content {
  max-height: 250px;
  overflow-y: auto;
}
.cart-checkout-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.cart-checkout-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cart-checkout-content::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cart-checkout-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.toast {
  background-color: #141414;
  color: #ffffff;
}
.paginations ul li.selected {
  @apply bg-teal-400 text-white;
}

.arrowProduct::before {
  content: "";
  position: absolute;
  transform: rotate(25deg);
  top: 11px;
  left: 4px;
  width: 24px;
  z-index: -2;
  border-radius: 2px;
  height: 20px;
  background-color: rgb(0 0 0);
}

@layer base {
  .terms .cards {
    @apply border p-8 rounded-sm;
  }
  .terms .cards p {
    @apply text-sm text-gray-600 mb-1 mt-3;
  }
  .terms .cards p.title {
    @apply text-sm text-gray-800 mb-1 mt-3 font-bold;
  }
  .terms .cards ol {
    @apply text-sm text-gray-600;
  }
  .terms .cards ol li {
    @apply mb-3;
  }
}
.slick-slide .brand-logo {
  filter: grayscale(100%);
}
.slick-current .brand-logo {
  filter: grayscale(0%);
}
.slick-current .content-slider {
  @apply border-teal-700 shadow-lg;
}
.slick-current .title {
  @apply text-red-700;
}
.slick-current .subTitle {
  @apply text-blue-800;
}
